@model List<TWO_POKEMON_TORRALBA_LAIZA_BSIT_32E1.Models.Pokemon>

<h2>Pokemon List</h2>

<ul>
    @foreach (var pokemon in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Pokemon", new { name = pokemon.Name })">@pokemon.Name</a>
        </li>
    }
</ul>